@model OverviewViewModel
@{
    ViewData["Title"] = "Home Page";

    //bool count = true;
    if (!string.IsNullOrEmpty(Model.button))
    {
        if (Context.Session.GetInt32("count") == 0)
        {
            switch (Model.button)
            {
                case "Date":
                    Model.trips = Model.trips.OrderByDescending(o => o.DateCreated).ToList();
                    break;

                case "Vehicle":
                    Model.trips = Model.trips.OrderByDescending(o => o.Vehicle).ToList();
                    break;

                case "Distance":
                    Model.trips = Model.trips.OrderByDescending(o => o.Distance).ToList();
                    break;

                case "PenaltyPoints":
                    Model.trips = Model.trips.OrderByDescending(o => o.Score).ToList();
                    break;
            }
            Context.Session.SetInt32("count", 1);
        }
        else
        {
            switch (Model.button)
            {
                case "Date":
                    Model.trips = Model.trips.OrderBy(o => o.DateCreated).ToList();
                    break;

                case "Vehicle":
                    Model.trips = Model.trips.OrderBy(o => o.Vehicle).ToList();
                    break;

                case "Distance":
                    Model.trips = Model.trips.OrderBy(o => o.Distance).ToList();
                    break;

                case "PenaltyPoints":
                    Model.trips = Model.trips.OrderBy(o => o.Score).ToList();
                    break;
            }
            Context.Session.SetInt32("count", 0);
        }
    }
    else
    {
        Model.trips = Model.trips.OrderByDescending(o => o.DateCreated).ToList();
    }
}


    <div class="container-fluid">
        <h3 class="text-dark mb-4">Overview</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Overview of all made trips</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-nowrap">

                        </div>
                    <div class="col-md-6">
                        <div style="opacity: 0;" class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                    </div>
                </div>
                <div class="col-md-6 text-nowrap"> 
                    <h4>Total amount of penalty points: @Model.totalscore</h4>
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <center>
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <form method="post">
                                    <th style ="text-align: center"><button class="btnSort" name="button" s value="Date"><strong>Date</strong></button></th>
                                    <th style="text-align: center"><button class="btnSort" name="button" value="Vehicle"><strong>Means of transport</strong></button></th>
                                    <th style="text-align: center"><button class="btnSort" name="button" value="Distance"><strong>Distance</strong></button></th>
                                    <th style="text-align: center"><center><button class="btnSort" name="button" value="PenaltyPoints"><strong>Penalty points</strong></button></center></th>
                                    <th ></th>
                                    <th></th>
                                </form>
                            </tr>
                        </thead>
                        @foreach(var trip in Model.trips)
                        {
                            <tbody>
                                <form method="get">
                                    <tr>
                                        <td style ="text-align: center">@trip.DateCreated.ToString("dd/MM/yyyy")</td>
                                        <td style="text-align: center">@trip.Vehicle.Replace("_"," ")</td>
                                        <td style="text-align: center">@trip.Distance</td>
                                        <td style="text-align: center">@trip.Score</td>
                                    <td style="text-align: center"><button class="btn btn-warning" asp-area="" asp-controller="Overview" asp-action="Edit" value="@trip.Id" name="TripId" type="submit"><i class="fas fa-edit"></i></button></td>
                                    <td style="text-align: center"><button class="btn btn-danger" asp-area="" asp-controller="Overview" asp-action="Delete" value="@trip.Id" name="DeleteId" type="submit"><i class="fas fa-trash"></i></button></td>
                                    </tr>
                                </form>
                            </tbody>
                        }


                        <tfoot>
                            <tr>
                                <td style="text-align: center"><strong>Date</strong></td>
                                <td style="text-align: center"><strong>Means of transport</strong></td>
                                <td style="text-align: center"><strong>Distance</strong></td>
                                <td style="text-align: center"><strong><center>Penalty points</center></strong></td>
                                <td ></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                    </center>
                </div>
            </div>
        </div>
    </div>

