@model OverviewViewModel
@{
    ViewData["Title"] = "Home Page";

    //bool count = true;
    if (!string.IsNullOrEmpty(Model.button))
    {
        if (Context.Session.GetInt32("count") == 0)
        {
            switch (Model.button)
            {
                case "Date":
                    Model.trips = Model.trips.OrderByDescending(o => o.DateCreated).ToList();
                    break;

            case "Vehicle":
                    Model.trips = Model.trips.OrderByDescending(o => o.Vehicle).ToList();
                    break;

                case "Distance":
                    Model.trips = Model.trips.OrderByDescending(o => o.Distance).ToList();
                    break;

                case "PenaltyPoints":
                    Model.trips = Model.trips.OrderByDescending(o => o.Score).ToList();
                    break;
            }
            Context.Session.SetInt32("count", 1);
        }
        else
        {
            switch (Model.button)
            {
                case "Date":
                    Model.trips = Model.trips.OrderBy(o => o.DateCreated).ToList();
                    break;

            case "Vehicle":
                    Model.trips = Model.trips.OrderBy(o => o.Vehicle).ToList();
                    break;

                case "Distance":
                    Model.trips = Model.trips.OrderBy(o => o.Distance).ToList();
                    break;

                case "PenaltyPoints":
                    Model.trips = Model.trips.OrderBy(o => o.Score).ToList();
                    break;
            }
            Context.Session.SetInt32("count", 0);
        }


        //Model.trips = Model.trips.OrderByDescending(o => o.DateCreated).ToList();
    }
}


    <div class="container-fluid">
        <h3 class="text-dark mb-4">Overview</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Overview of all made trips</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-nowrap">

                        </div>
                    <div class="col-md-6">
                        <div style="opacity: 0;" class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                    </div>
                </div>
                <div class="col-md-6 text-nowrap"> 
                    <h4>Total amount of penalty points: @Model.totalscore</h4>
                </div>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <center>
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <form method="post">
                                    <th><button class="btnSort" name="button" value="Date"><strong>Date</strong></button></th>
                                    <th><button class="btnSort" name="button" value="Vehicle"><strong>Means of transport</strong></button></th>
                                    <th><button class="btnSort" name="button" value="Distance"><strong>Distance</strong></button></th>
                                    <th><center><button class="btnSort" name="button" value="PenaltyPoints"><strong>Penalty points</strong></button></center></th>
                                </form>
                            </tr>
                        </thead>
                        @foreach(var trip in Model.trips)
                        {
                            <tbody>
                                <tr>
                                    <td>@trip.DateCreated.ToString("dd/MM/yyyy")</td>
                                    <td>@trip.Vehicle.Replace("_"," ")</td>
                                    <td>@trip.Distance</td>
                                    <td>@trip.Score</td>
                                </tr>
                            </tbody>
                        }

                        <tfoot>
                            <tr>
                                <td><strong>Date</strong></td>
                                <td><strong>Means of transport</strong></td>
                                <td><strong>Distance</strong></td>
                                <td><strong><center>Penalty points</center></strong></td>
                            </tr>
                        </tfoot>
                    </table>
                    </center>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 5 of 5</p>
                    </div>
                    @*<div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

