@model LeaderboardViewModel

@{

    ViewData["Title"] = "Home Page";
}


<div class="text-center">
	<section class="main-content">
		<div class="container">
			<h1>Rankings</h1>
			<br>
			<br>

			<div class="row">
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--Second">
						<div class="leaderboard-card__top">
							<h3 class="text-center">2nd!</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="~/scoreboard/img/user1.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">@($"{Model.top3[1].firstname} {Model.top3[1].lastname}")</h5>
								<p class="text-muted mb-0">@Model.top3[1].points Penalty points</p>
								<hr>
								<div class="d-flex justify-cvontent-between align-items-center">
									<span>Amount of trips: </span>
									<span>@Model.top3[1].tripAmount</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--first">
						<div class="leaderboard-card__top">
							<h3 class="text-center">1st!</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="~/scoreboard/img/user2.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">@($"{Model.top3[0].firstname} {Model.top3[0].lastname}")</h5>
								<p class="text-muted mb-0">@Model.top3[0].points Penalty points</p>
								<hr>
								<div class="d-flex justify-content-between align-items-center">
									<span>Amount of trips: </span>
									<span>@Model.top3[0].tripAmount</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="leaderboard-card leaderboard-card--Third">
						<div class="leaderboard-card__top">
							<h3 class="text-center">3rd!</h3>
						</div>
						<div class="leaderboard-card__body">
							<div class="text-center">
								<img src="~/scoreboard/img/user3.jpg" class="circle-img mb-2" alt="User Img">
								<h5 class="mb-0">@($"{Model.top3[2].firstname} {Model.top3[2].lastname}")</h5>
								<p class="text-muted mb-0">@Model.top3[2].points Penalty points</p>
								<hr>
								<div class="d-flex justify-content-between align-items-center">
									<span>Amount of trips: </span>
									<span>@Model.top3[2].tripAmount</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<h4>All Users</h4>

			<table class="table">
				<thead>
					<tr>
						<th>User</th>
						<th>Penalty points</th>
						<th>Function</th>
						<th>Amount of trips</th>
					</tr>
				</thead>
				<tbody>
					@{int counter = 4;}
					@foreach (var item in Model.people)
				   {
					<tr>
						<td>
							<div class="d-flex align-items-center">
								<img src="~/scoreboard/img/user4.jpg" class="circle-img circle-img--small mr-2" alt="User Img">
								<div class="user-info__basic">
									<h5 class="mb-0">@($"{item.firstname} {item.lastname}")</h5>
									<p class="text-muted mb-0">Place: @counter</p>
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex align-items-baseline">
								<h4 class="mr-1">@item.points</h4>
							</div>
						</td>
						<td>CEO</td>
						<td>@item.tripAmount</td>
					</tr>   
					counter = counter + 1;
				   }
					
				</tbody>
			</table>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</div>
