@model TripViewModel
@using Evv.Helpers;
@{

    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Add a trip</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Trip Info</p>
        </div>
        <div class="card-body" style="width: 100%; margin-left: auto; margin-right:auto;">
            <form>
                @Html.ValidationSummary()
                <div class="row" style="margin-right: 8px;margin-left: 8px;margin-left: auto; margin-right:auto;">
                    <div class="col-lg-5" style="padding: 12px;margin-left: auto; margin-right:auto;">
                        <div class="form-group">
                            <label asp-for="DateCreated" class="control-label">Date</label>
                            <input asp-for="DateCreated" class="form-control" lang="en" type="date" id="date"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="People" class="control-label" id="PeopleText">People</label>
                            <input asp-for="People" type="number" class="form-control" placeholder="Enter amount of people" value="1" id="PeopleInput" />
                        </div>
                        <label for="Favorite">Favorites </label>
                        <input type="checkbox" id="CheckBox" name="CheckBox" value="CheckBox" onclick="checkBox()">
                    </div>
                    <div class="col-lg-5" style="padding: 12px;margin-left: auto; margin-right:auto;">
                        <div class="form-group">
                            <label class="control-label">Means of transport</label>
                            @Html.DropDownList(nameof(Model.FavoriteNames), Model.VehicleModifierSelectList, new { @class = "form-control", @onchange = "SetState()", @id = "ModeOfTransport"})
                        </div>
                        <div class="form-group">
                            <label asp-for="Distance" class="control-label">Distance (KM)</label>
                            <input asp-for="Distance" class="form-control" id="distance" type="text" placeholder="Enter distance"/>
                        </div>
                    </div>

                    @*                        <div class="col d-flex d-sm-flex d-lg-flex flex-column align-items-center justify-content-sm-center align-items-sm-center align-items-lg-center" style="padding: 12px;">
                        <div class="form-group">

                        </div>
                        </div>*@
                </div>
                <div class="col-lg-5" style="padding: 12px;margin-left: auto; margin-right:auto;">
                <div class="form-group" id="Favrotit">
                    <label class="control-label">List of Favorites</label>
                    <select asp-for="ChosenfavoriteName" class="form-control">
                        @foreach (var item in Model.FavoriteNames)
                        {
                                <option>
                                @item
                            </option>
                        }
                    </select>
                </div>
                </div>
                <input class="form-control btn btn-primary" id="BtnAddTrip" type="submit" value="Add trip" style="margin-left: auto; margin-right:auto;" onclick="notify()" name="submit"/>
                <input class="form-control btn btn-primary" id="BtnFavrotit" type="submit" value="Add to favorites" style="margin-left: auto; margin-right:auto; display: none;" name="submit"/>
            </form>
            @*                <section>
                <hr>
                <br>
                <p> Vehicle: @Model.Vehicle_Modifier.GetDescription() <br> Penalty Points: @Model.score <br> People: @Model.People <br> Distance: @Model.Distance <br> Date: @Model.DateCreated.ToString("dd/MM/yyyy")</p>
                <br>
                </section>*@
        </div>
    </div>
</div>

<div class="container-fluid"><br/>
    <h3 class="text-dark mb-4">Favorites</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Favorites Info</p>
        </div>
        <div class="card-body" style="width: 100%; margin-left: auto; margin-right:auto;">
            <form>
                @Html.ValidationSummary()
                <div class="row" style="margin-right: 8px;margin-left: 8px;margin-left: auto; margin-right:auto;">
                    <div class="col-lg-5" style="">
                        <div class="form-group">
                            <label asp-for="FavoriteName" class="control-label">Favorite name</label>
                            <input asp-for="FavoriteName" class="form-control" lang="en" type="text" id="Favorite"/><br/>
                            <input class="form-control btn btn-primary" id="BtnAddTrip" type="submit" value="Add favorite" style="margin-left: auto; margin-right:auto;" name="favorite"/>
                        </div>
                        <div class="form-group">
                            
                        </div>
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <center>
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <form method="post">
                                        <th> Favorite trips name</th>
                                        <th></th>
            </form>
            </tr>
            </thead>
                                @foreach (var Name in Model.FavoriteNames)
                                {
                <tbody>
                    <tr>
                        <td>@Name</td>
                        <td><button class="btnadd" name="button">Travel trip</button></td>

                    </tr>
                </tbody>
                                }

            <tfoot>
                <tr>
                    <th> Favorite trips name</th>
                    <th></th>
                </tr>
            </tfoot>
            </table>
            </center>
        </div>


                    @*                        <div class="col d-flex d-sm-flex d-lg-flex flex-column align-items-center justify-content-sm-center align-items-sm-center align-items-lg-center" style="padding: 12px;">
                        <div class="form-group">

                        </div>
                        </div>*@
                </div>

               
            </form>
            @*                <section>
                <hr>
                <br>
                <p> Vehicle: @Model.Vehicle_Modifier.GetDescription() <br> Penalty Points: @Model.score <br> People: @Model.People <br> Distance: @Model.Distance <br> Date: @Model.DateCreated.ToString("dd/MM/yyyy")</p>
                <br>
                </section>*@
        </div>
    </div>
</div>



<script>
function checkBox() {
        var checkBox = document.getElementById('CheckBox');
        if(checkBox.checked){
            document.getElementById("BtnFavrotit").style.display = "block";
            document.getElementById("BtnAddTrip").style.display = "none";
            document.getElementById("Favrotit").style.display = "block"
            }else{
                document.getElementById("BtnFavrotit").style.display = "none";
                document.getElementById("BtnAddTrip").style.display = "block";
                document.getElementById("Favrotit").style.display = "none"
                }
        }

    function SetState(){
        let TransportCode = document.getElementById("ModeOfTransport").value;

        if(TransportCode == 20 || TransportCode == 0 || TransportCode == 6 || TransportCode == 182){
            document.getElementById("PeopleInput").hidden = true;
            document.getElementById("PeopleText").hidden = true;
            document.getElementById("PeopleInput").value = 1;
        }
        else{
            document.getElementById("PeopleInput").hidden = false;
            document.getElementById("PeopleText").hidden = false;
        }
    }

    function notify(){
        let check = false;
        let check2 = false;

        if( parseInt(document.getElementById("distance").value) < 1 ||  document.getElementById("distance").value == ""){
            alert("Your distance needs to be higher then 0.");

            check = false
        }
        else{
            check = true;
        }

        if(parseInt(document.getElementById("PeopleInput").value) < 1 ||  document.getElementById("PeopleInput").value == ""){
            alert("The amount of people you travel with needs to be more then 0.");
            check2 = false
        }
        else{
            check2 = true;
        }

        if(document.getElementById("date").value == ""){
            alert("Fill in a valid date");
            check3 = false
        }
        else{
            check3 = true
        }
            
        if(check == true && check2 == true && check3 == true){
            alert("Your trip has been added");
        }
    }
    
    

</script>
