@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Evv</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Evv.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Evv</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Evv - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - TimeCheck</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="~/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/scoreboard/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body id="page-top" onload = "SetState()">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="border-radius: 0px 30px 30px 0px;background: var(--bs-gray-900);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/Home/index">
                <div>
                    <div class="sidebar-brand-icon d-inline "><img src="~/img/CGI.png" height="auto" width="50%"/><i class="fas"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>EVV</span></div>
                </div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    @{  if(ViewBag.page == "Home")
                        {
                            <li class="nav-item"><a class="nav-link active" href="/Home/index"><i class="fas fa-suitcase"></i><span>Add a trip</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Overview/index"><i class="fas fa-window-maximize"></i><span>Overview</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Leaderboard/index"><i class="fas fa-trophy"></i><span>Leaderboard</span></a></li>
                        }
                        else if(ViewBag.page == "Leaderboard")
                        {
                            <li class="nav-item"><a class="nav-link" href="/Home/index"><i class="fas fa-suitcase"></i><span>Add a trip</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Overview/index"><i class="fas fa-window-maximize"></i><span>Overview</span></a></li>
                            <li class="nav-item"><a class="nav-link active" href="/Leaderboard/index"><i class="fas fa-trophy"></i><span>Leaderboard</span></a></li>
                        }
                        else if(ViewBag.page == "Overview")
                        {
                            <li class="nav-item"><a class="nav-link" href="/Home/index"><i class="fas fa-suitcase"></i><span>Add a trip</span></a></li>
                            <li class="nav-item"><a class="nav-link active" href="/Overview/index"><i class="fas fa-window-maximize"></i><span>Overview</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Leaderboard/index"><i class="fas fa-trophy"></i><span>Leaderboard</span></a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" href="/Home/index"><i class="fas fa-suitcase"></i><span>Add a trip</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Overview/index"><i class="fas fa-window-maximize"></i><span>Overview</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Leaderboard/index"><i class="fas fa-trophy"></i><span>Leaderboard</span></a></li>
                        }
                    }

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">@ViewBag.Name</span><img class="border rounded-circle img-profile" src="~/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="/Account/Logout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            </div>
            
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Evvision 2022</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/theme.js"></script>
    <script src="https://kit.fontawesome.com/388478236c.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
</body>

</html>